@font-face {
    font-family: "Myriad";
    src: url("myriad-web-pro.ttf");
}
@font-face {
    font-family: "Myriad";
    font-weight: bold;
    src: url("myriad-web-pro-bold.ttf");
}

html {
    height:100%;
}

body {
    font-family: 'Myriad';
    margin:0px;
    height:100%;
    -webkit-user-select: none;
}

div.listPage {
    height:100%;
    margin:5px;
}

div.gridModule div.numberTile {
    float:left;
}

div.numberTile {
    width:50px;
    height:50px;
    border:0px solid black;
    margin:3px;
    position:relative;
    background-color: #969696;
}

div.numberTile a.sequenceLink {
  bottom: 0px;
  position: absolute;
  left: 0px;
}

div.numberTile div.label {

    top:4%;
    left:7%;
    width:60%;
    text-align: left;
    position:absolute;
    font-weight:bold;
    color:white;
    font-size:26px;
    //text-shadow: 0em 0.1em 0.2em black;

}

div.factors {
    position:absolute;
    bottom:0%;
    width:100%;
    height:30%;
    font-size:60%;
    font-weight: bold;
    margin-left:6%;
}

div.factors div.seperator {
    float:left;
    letter-spacing: -0.1em;
    position:relative;
    width:0.2em;
    height:0.2em;
    border-radius:0.1em 0.1em 0.1em 0.1em;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0.1em;
    background-color: black;
    top:0.5em;
}

div.factors div.factor {
    float:left;
    letter-spacing: -0.1em;
    position:relative;
}

div.factors div.factor div.power{
    position:relative;
    font-size: 80%;
    padding-left: 0.8em;
    top: -2em;

}

div.bars {
    width:100%;position:absolute;bottom:0%;
}

div.bars div.bar {
    float:right;
    clear:right;
    margin-right:1px;
    position:relative;
    border-width:1px 0px 1px 0px;
    border-color:black;
    border-style:solid;
    margin-bottom:1px;
}

div.bars div.bar div.brick {
    float:right;
    position:relative;
    background-color:black;
    margin-left:1px;

}

div.bars div.bar div.brick:last-child {
    margin-left:0px;
}

div.selector {}

div.tagBox {
    border:1px solid black;
    position:relative;
    height: auto;
    overflow: auto;
    padding:3px;
    border-radius:8px;
    margin-top:3px;
    background-color: #eee;
    overflow: hidden;
}

div.tagBox div.tag {
    border:1px dotted gray;
    position:relative;
    float:left;
    margin:2px;
    border-radius:8px;
    padding:2px 4px 1px 4px;
    cursor:pointer;
    font-size:12px;
    background-color: white;
}

div.tagBox div.mainTag {
    border: 1px solid gray;
    position: relative;
    float: left;
    margin: -4px;
    border-radius: 8px;
    padding: 6px 7px 5px 8px;
    cursor: pointer;
    font-size: 15px;
    margin-right: 4px;
    background-color: white;

}

div.tagBox div.tag.selected {
    border:2px solid black;
    padding:1px 3px 0px 3px;
    color:white;
    background-color: black;
}

div.sequencePage {
    margin:10px;
}

div.sequenceNumModule {

}

div.sequenceNumModule div.nEquals {
    float: left;
    font-size: 150%;
    font-weight: bold;
    margin-top: 14px;
    width: 50px;
    text-align: right;
    margin-right: 4px;
}

div.sequenceNumModule div.numberTile {
    float:left;
}

div.gridPage {
    background-color: #d3d3d3;
    position: absolute;
    z-index: 100;
}

div.gridBox{
    overflow: hidden;
    position: absolute;
}

div.gridBox div.content {
    background-color:white;
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    z-index:80;
}

div.gridBox div.content.array {
    z-index:75;
}

div.gridBox div.content div.sequenceNumModule {
    cursor:pointer;
    position:absolute;
    top:0px;
    left:0px;
}

div.gridBox div.content div.memberModule {
    position:relative;
    width:100%;
}

div.gridBox div.content div.memberModule a.sequenceLink {
    color:gray;
    text-decoration: none;
    font-weight: bold;
    top:0px;
    font-family: courier;
}


div.gridBox {

}

div.gridBox div {
    -webkit-transform: translateZ(0)
}

div.gridBox div.content div {
    z-index:80;
}

div.gridBox div.content div.memberModule a.prev {
    position:absolute;
    left:7px;
}

div.gridBox div.content div.memberModule a.next {
    position:absolute;
    right:7px;
}

div.gridBox div.content div.memberModule > span {
    margin-left: 10%;
    position:relative;
    display:block;
    text-align: center;
    margin-top:10px;
    width:80%;
    font-weight: normal;
    color: #5c5c5c;
    font-size: 80%;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 3px;
}

div.gridBox div.content div.memberModule span span.num {
    font-weight: bold;
    color: #5c5c5c;
    font-size: 120%;
}

div.gridBox div.content div.memberModule span span.seq {
    font-weight: normal;
    font-weight: bold;
    color: #5c5c5c;
    font-size: 120%;
    text-transform:capitalize;
}

div.gridBox div.content div.sequenceNumModule {
    margin-top:5px;
    position:relative;
}

div.gridBox div.content div.sequenceNumModule div.arrangeImgModule {

}

div.gridBox div.content div.sequenceNumModule div.arrangeImgModule canvas {
    margin: auto;
    position: relative;
    display: block;
}

div.gridBox div.content div.sequenceNumModule div.imgModule canvas {
    margin: auto;
    position: relative;
    display: block;
}

div.gridBox div.content div.sequenceNumModule div.bigNum {
    font-family: MathJax_Main;
    font-size:92px;
    color:#333333;
    margin:auto;
    text-align: center;
    margin-top:20px;
}

div.gridBox div.content div.bars {
    width:90%;
    position:relative;
}

@brickColor : #c9c9c9;

div.gridBox div.content div.bars div.bar {
    float:right;
    clear:right;
    margin-right:1px;
    position:relative;
    border-width:1px 0px 1px 0px;
    border-color:@brickColor;
    border-style:solid;
    margin-bottom:3px;
}

div.gridBox div.content div.bars div.bar div.brick {
    float:right;
    position:relative;
    background-color:@brickColor;
}

div.gridBox div.content div.bars div.bar div.brick:last-child {
    float:right;
    position:relative;
    background-color:@brickColor;
    margin-left:0px;

}

div.gridBox div.content div.bars div.bar div.brick:last-child {
    margin-left:0px;
}